@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Roboto;
  margin: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #1F2937;
  padding: 8px;
}

.header-left-links, .header-right-links {
  display: flex;
  margin: 0 60px;
}

.header-right-links {
  align-items: center;
  font-size: 18px;
}

.header-left-links {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.description {
  display: flex;
  background-color: #1F2937;
  justify-content: space-around;
  align-items: center;
}

.description-left-side, .description-right-side {
  display: flex;
  margin: 0 68px 40px;
  min-height: 300px;
}

.description-image {
  max-height: 300px;
}

.description-left-side {
  flex-direction: column;
  justify-content: center;
}

.description-left-side-title {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin: 0;
}

.description-left-side-description {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
}

.description-button {
  background-color: #3882F6;
  border-style: none;
  border-radius: 5px;
  padding: 6px;
  color: #F9FAF8;
  width: 90px;
  font-weight: bold;
  margin: 10px 0;
}

.information-image {
  box-sizing: border-box;
  max-width: 200px;
  max-height: 200px;
  border: 3px solid #3882F6;
  border-radius: 20px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 80px;
}

.information-title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin: 20px 0;
}

.information-facts {
  display: flex;
  gap: 32px;
}

.information-text {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #1F2937;
}

.planets {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 100px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 0 100px;
}

.quote-author {
  display: flex;
  justify-content: end;
  font-size: 20px;
  font-weight: bold;
  padding: 0 100px;
}

.action {
  background-color: #3882F6;
  width: 800px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 93px auto;
  border-radius: 10px;
  padding: 0 20px;
}

.action-text {
  font-size: 24px;
  margin: auto;
  font-weight: bold;
  color: #F9FAF8;
}

.action-description {
  font-size: 16px;
  margin: auto;
  color: #E5E7EB;
}

.action-button {
  border-style: none;
  border-radius: 5px;
  padding: 6px;
  width: 90px;
  font-weight: bold;
  color: #F9FAF8;
  background-color: #3882F6;
  box-sizing: border-box;
  border: 2px solid #F9FAF8;
}

.footer {
  background-color: #1F2937;
  font-size: 16px;
  color: #E5E7EB;
  text-align: center;
  padding: 40px 0;
}